:root{
    --fundo: black;
    --section-conteudo: rgb(80, 80, 80);
}
*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: black;
    color:#fff;
}

.logo{
    width: 50%;
    text-align: center;
    top: 0%;
    margin-top: 3%;
    margin-left: 8%;
} 
@media screen and (max-width: 600px) {
    .logo{
        width: 100%;
    }
}
.titulo {
    font-size: 3em;
    line-height: 1.5; 
    max-width: 800px; 
    padding: 0 20px; 
    text-align: center;
}

@media screen and (max-width: 600px) {
    .titulo {
        margin-left: -18%;
        font-size: 1.9em; /* Reduzir o tamanho da fonte em telas menores */
        line-height: 1.3; /* Reduzir o espaçamento entre linhas */
    }
}
.cabecalho{
    max-height:auto;
    min-height: 30.5h;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    grid-template-columns:20% 50% 20%;
    margin-bottom: 3%;
    border-bottom:2px solid var(--section-conteudo) ;
}

    .apresentacao_section{
        height: auto;
        text-align: center;
        
    }
    .apresentacao{
        margin: 4% 0;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: auto;
        grid-template-columns: 30% 50% 25% 30%;
    } 
    @media only screen and (min-width: 720px) and (max-width: 1280px){
        .apresentacao{
            grid-template-columns:30% 30% 15% 30%;
        }
        .apresentacao_section{
            height: 60vh;
            
        }
        }

    .titulo_apresentacao{
        font-size: 30px;
        font-family: cursive;
    }

    .caixa_apresentacao{
        display: block;
        font-weight: 200;
        background-color: var(--section-conteudo);
        text-align: left;
        justify-self:center ;
        padding: 1% 1% 1% 1% ;
        align-items: center;
        border:1%;border: solid rgb(255, 248, 248);
        min-height: 93%;
        min-width: 100%;
        border-radius: 10px;
    }

    section b{
        color: orange;
    }

    .imagem{
        margin-left: 3%;
        height: 94%;
        width: 90%;
        min-height: 94%;
        min-width: 90%;
        max-height: 94%;
        max-width: 90%;
        background-color: rgb(2, 46, 75);
    }
   
    .caixa_apresentacao nav{ 
        text-align: right;
     }
     
     a{
        margin: 2px;
        padding: 0 2px 0 9px;
        color: rgb(255, 255, 255);
        text-decoration:none;
        
     }
     a:hover{
        color: rgb(0, 255, 13); 
        text-shadow: #4e08ff 0 0 10px;
        text-decoration: line-through;
     }
    .links{
        top:1%;
        position: fixed;
        justify-content: flex-end;
        display: grid;
        text-align: left; 
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        font-size: 7px;
        background-color: rgb(57, 57, 57);
    }
    @media only screen and (min-width: 720px) and (max-width: 1280px){
        .links{
            top:1.5%;
            font-size: 10px;
        }
        }
    .links_fixo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }


    .projetos{
        flex-wrap: wrap;
        text-align: center;
        border-top:1%; border-top:solid #fff ;
        height: auto;
        background-color: var(--fundo);
    }
    .titulo_projetos{
        font-size: 30px;
        font-family: cursive;
        text-align: center; 
        margin-bottom: 3%;
        margin-top: 1%;
    }
    .itens_projeto{
        display: flex;
        margin: auto;
        grid-template-columns: 23% 23% 23% 23%;
        justify-content: center;
        justify-self: center;
        align-items: center;
    }
    .itens{
        flex-grow: 1;
        flex-basis: 200;
        display: block;
        margin-top: 5%;
    }
    .nome_projeto{

        margin-top: -1%;
        margin-bottom: 2%;
        color: rgb(255, 255, 255);
    }
     .itens_foto{
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 255);
        width: 70%;
        margin-bottom: 5%;
    }
    .itens_foto:hover{
        transform: translatex(30px) scale(1.5);
    }
    
    

    .quem_somos{
        height: 60vh;
        text-align: center;
        border-top:1%;border-top: solid #fff ;
        background-color:var(--fundo);
    }

    .container_quemsomos{
        margin: 7%;
        display: grid;
        justify-content: center; 
        align-items: center;  
        grid-template-columns: 50% 40%;
    }
    .texto_quemsomos{
        line-clamp: 30;
    }
    .img_quemsomos{
        width: 40%;
        margin: 3%;
        border-radius: 10px;
        border: 1%;border: solid #ffffff;
        padding: 10px 10px;
        background-color: rgb(24, 128, 128);
    }

    .grupo{
        background-color: rgb(37, 37, 37);
        border: 1%;border:  solid rgb(243, 243, 255);
        margin:  0 5%;
        border-radius: 10px;
        display:inline-flex;
        align-items: center;
        justify-content:center ;
    }
    .integrantes{
        border-radius: 50%;
        width: 40%;
        margin-top: 4%;
        border:1px solid #fff;
    }
    .nome_integrantes{
        color: blue;
    }